/* Stylehsheet */
@import "semantic";

body {
    background: #caddf5;
    width:99%;
    text-align: center;
    display:block;
    
}
.title {
    font-family: futura;
    font-weight: bold;
    font-size:100px;
    color: #0351ba;
}
main {
   display: flex;
    justify-content: space-around;

}
.name {
    color: #e3e3e3;
    text-transform: lowercase;
    font-style:italic;
   
}
#students {
    
    color:pink;
    background-color:#003883;
    border-radius: 12px;
}