/* Stylehsheet */
@import "semantic";

body {
    background: #ff8d8d;
    width:90%;
    text-align: center;
    display:block;
    font-family: avenir next, sans-serif;
    margin: 0 auto;
    
}

.title {
    font-size: 100px;
    text-transform: lowercase;
    font-family: avenir next, sans-serif;
    color: white;
}

h1 {
    color: #ff2f2f;
    font-family: avenir next, sans-serif;
    font-size: 3.5em;
}
h2 {
    font-size: 20px;
    text-transform: lowercase;
    font-family: noto sans, sans-serif;
    
}
h3 {
    text-transform: lowercase;
    font-family: noto sans, sans-serif;
    color: #d3cfcf;
    font-style:italic;
    font-size: 15px;
    
    
}
.type {
margin-top: -3px;

}
.time {
    margin-top: -10px;
}
p {
    
    padding-bottom: 30px;
    font-size: 1.75em;
}

//timer 

.display__time-left {
  font-weight: 100;
  font-size: 6em;
  margin: 0;
  color:white;
    margin-bottom: 1em;
  
}

.timer {
  
  min-height: 5em;
  flex-direction:row;
    margin-top:1em;
    
}

.timer__controls {
  display: block;
}


.timer__controls input {
  flex:1;
  border:0;
  padding:.5em;
flex-wrap: wrap;
}

.timer__button {
  background:none;
  border:0;
  cursor:pointer;
  color:white;
  font-size: 2em;
  text-transform: uppercase;
  background:rgba(0,0,0,0.1);
  padding:1em;
margin: .5em;
  font-family: 'futura bold',sans-serif;
}

.timer__button:hover,
.timer__button:focus {
  background:rgba(0,0,0,0.2);
  outline:0;
}

.display {
  flex:1;
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
flex-wrap: wrap;
}

.display__end-time {
  font-size: .005px;
  color:white;
    text-align: center;
}

#custom {
    padding: 2em;
    margin: .5em;
}


